
.header {
    position: static;
    height: 100vh;
    width: 100%;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0px;
}

.header-content {
    border-left: 2px solid;
    border-color: white;
    padding-left: 35px;
    color: #F9F9F9;
}

.header-downbar {
    position: absolute;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

section {
    height: 100vh;
    padding: 20px 0 20px 0;
}

.skill-bar {
    background-color: var(--primary-color);
}

.skill-row {
    margin-top: 8px;
    margin-bottom: 8px;
}

.skill-name {
    margin-bottom: 4px;
}

.badge {
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
}

.devicon, .devicons {
    color: var(--primary-color);
    font-size: 35px;
}

.devicon-small {
    color: white;
    margin-right: 5px;
}

hr {
    background-color: #CB2D6F;
    height: 1px;
    width: 80px;
    border: 0;
}