.header {
    position: static;
    height: 100vh;
    width: 100%;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0px;
}

.header-content {
    border-left: 2px solid;
    border-color: white;
    padding-left: 35px;
    color: #F9F9F9;
}

.header-downbar {
    position: absolute;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

section {
    min-height: 100vh;
    padding: 20px 0 20px 0;
}

.info-table td, th {
    padding: 0 0 15px 0 !important;
    margin: 0 !important;
}

.info-table th {
    font-weight: 500;
}

.links a {
    text-decoration: none !important;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: var(--primary-color);
}

.education-item p, dd {
    margin: 0;
    font-weight: 300;
}

.project-card .card-body {
    padding-bottom: 10px !important;
}

.badge {
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
}

.badge-custom {
    color: white;
    background-color: var(--primary-color);
    margin: 3px 0px 3px 0px;
}

.icon {
    color: var(--primary-color);
    font-size: 35px;
}

.icon-small {
    color: white;
    margin-right: 5px;
}

hr {
    background-color: black;
    height: 1px;
    width: 80px;
    border: 0;
}