:root {
    --primary-color:#4878C0;
    --secondary-color:black;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.jumbotron {
    height: 100vh;
}

.header {
    position: static;
    height: 70vh;
    width: 100%;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 30vh !important;
    margin-bottom: 0px;
}

.header-content {
    border-left: 1.5px solid;
    border-color: white;
    color: #F9F9F9;
}

section {
    padding: 20px 0 20px 0 ;
}

.skill-bar {
    background-color: var(--primary-color);
}

.skill-row {
    margin-top: 8px;
    margin-bottom: 8px;
}

.skill-name {
    margin-bottom: 4px;
}

hr {
    background-color: #CB2D6F;
    height: 1px;
    width: 80px;
    border: 0;
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }