@use '@styles/variables' as *;

.codeblock {
  &-container {
    display: flex;
    flex-direction: column;

    pre {
      margin: 0;

      code {
        font-size: 1rem;
      }
    }
  }

  &-line-number {
    float: left;
    margin: 2px 1em 0 -1em;
    border-right: 1px solid;
    font-size: 1rem;
    color: $gray-400;

    span {
      display: block;
      padding: 0 0.5em 0 1em;
    }
  }

  &-json {
    &-key {
      color: #c3e88d;
    }

    &-value {
      color: #80cbc4;
    }

    &-punctuation {
      color: #bfc7d5;
    }

    &-quote {
      color: #d9f5dd;
    }
  }
}
